<!DOCTYPE html>
<html>
<head>
    <title>Single Camper Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <section>
      <div class="row">
        <div class="col-sm-4">
            <img  class="image-profile thumbnail text-center" src="http://placehold.it/200x180" alt="Profile image example"/>
            <button type="button" name="button" class="btn btn-primary">Upload Image</button>
        </div>
        <div class="col-sm-8 align-left">
            <h2><%= Camper.firstName %>  <%= Camper.lastName %></h2>
            <ul>
              <li>Age: <%= Camper.age %></li>
                <li>Notes: <%= Camper.note %></li>
                <li>Parent Name: <%= Camper.parentFirstName %> <%= Camper.parentLastName %></li>
                <li>Phone: <%= Camper.phoneNum %></li>
                <li>Address: <%= Camper.address %></li>
                <li>Email: <%= Camper.email %></li>
            </ul>

        </div>
          <a role="button" class="btn btn-primary pull-bottom pull-right" href="/staff-camper-profiles">Go Back</a>
    </div>
  </section>






  <% include ./partials/footer.ejs %>
